# Enable Basic Authentication
AuthType Basic

# Specify the realm (this is the prompt shown to the user)
AuthName "dir11"

# Specify the path to the password file containing the user credentials
AuthUserFile ../../../.htpasswd1

# Allow specific users to access the resource
Require valid-user